.home {
  background-image: url("/dogs-running.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.home-bg {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(160, 150, 128, 0.608);
}

.home-bg > * {
  position: relative;
  z-index: 2;
  color: white;
}

.text-sections {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.event-section {
  border-bottom: solid 1px #f4dfc8;
  padding: 2rem;
}
