main {
  background-color: #7d6e5d;
}

.dog-li {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.dog-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dog-info-section {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0.5rem;
}

.dog-img {
  margin: 0.5rem;
  border-right: 1px solid #c7b5a2;
  padding-right: 3rem;
}

.dog-info {
  padding: 0 0.2rem;
}

.material-symbols-outlined {
  margin: 0.3rem;
}
