main {
  background-color: #7d6e5d;
}

.dog-li {
  display: flex;
  flex-direction: column;
  width: 25vw;

  border-radius: 2vw;
  margin: 1rem;
  overflow: hidden;
  background-color: #f4dfc825;
}

.dog-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dog-img {
  margin: 0;
}

.dog-info {
  padding: 0 0.2rem;
}

.material-symbols-outlined {
  margin: 0.3rem;
}
