.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 0 2rem;
  top: 0;
}

.logo-links {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header-logo {
  margin-right: 0.5rem;
}

.header {
  border-bottom: solid 2px black;
  width: 100%;
}
