.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 0;
  top: 0;
}

.logo-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.header-logo {
  margin-right: 0.5rem;
}

.header {
  width: 100%;
  position: sticky;
  background-color: #f4dfc8da;
  color: #7d6e5d;
  width: 100vw;
}
