.adopt-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4rem;
  padding: 0.5rem;
}

.adopt-text {
  width: 40vw;
  justify-content: space-between;
}

.breed-section {
  width: 50vw;
}

.volunteer-section {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 80%;
}

input {
  background-color: #a29b93;
  border: none;
  width: 90%;
  font-size: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin: 0.1rem;
  background-color: #a29b93;
  border-radius: 100px;
  padding: 0 1rem;
}

input:focus {
  outline: none;
}

.search {
  display: flex;
}

.search-wrapper {
  position: relative;
  width: 90%;
}

.search-section {
  display: flex;
  width: 100%;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #95846f;
  max-height: 250px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
}

.dropdown li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #605448;
}

.no-results {
  padding: 8px;
  color: white;
}

.breed-img {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  margin-top: 0.5rem;
}
